* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: verdana;
    
}

body{ 
    background-color: #170f18 ;
    overflow-x: hidden;
}

#topo {
    display: flex;
    justify-content: space-between;
    padding: 60px 40px;
}

.img {
    width: 200px;
}


#menu ul {
    
    display: inline-flex;
    align-items: center;
    justify-content: space-around;
    list-style: none;
}
#menu ul li a {

    
    font-weight: 500;
    color: white;
    text-decoration: none;
    margin: 40px;

}
#menu ul li a:hover {

    border-bottom: #F7B32B solid 3px;
    font-weight: 500;
    color: white;
    text-decoration: none;
    margin: 40px;
    transition: 0.1s;

}

#contato button {
    background-color:#f72c25 ;
    color: white;
    width: 150px;
    height: 50px;
    border: none;
    border-radius: 20px;
    font-weight: 600;
    font-size: 14px;
    cursor: pointer;

}

#contato button:hover {
    background-color: #F7B32B ;
    transition: 0.5s;
    color: white;
    width: 150px;
    height: 50px;
    border: none;
    border-radius: 20px;
    font-weight: 600;
    font-size: 14px;
    cursor: pointer;

}

#conteinerPricipal {
    display: flex;
    align-items: center;
    justify-content: center;

}
#sessao1 {

    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-evenly;

    
    
}

#hero {
    
    padding-top: 120px;
    width: 50%;
    height: 500px;
    padding-left: 100px;
    
}


#hero .titulo {
    padding-bottom: 50px;
    color: #FCF6B1;
    font-size: 42px;
}

span {
    color: #F7B32B;
}

.paragrafoHero {
    color: white;
    width: 90%;
    line-height: 1.6;
    font-size: 17px;
}

.cta {
    
    margin-top: 60px;
    background-color:#f72c25 ;
    color: white;
    width: 250px;
    height: 60px;
    border: none;
    border-radius: 20px;
    font-weight: 500;
    font-size: 20px; 
    cursor: pointer;
    transition: 0.3s;
}

.cta:hover {
    
    margin-top: 60px;
    background-color:transparent;
    color: #f72c25;
    width: 250px;
    height: 60px;
    border-radius: 20px;
    border: #f72c25 solid 3px;
    font-weight: 500;
    font-size: 20px; 
    cursor: pointer;
}


#photoExpert {
    width: 50%;
    padding-right: 100px;
    
}

#photoExpert .img { 
    width: 500px;
    border-radius: 50%;
    padding-top: 50px;
    animation: floatAnimation 4s ease-in-out infinite;
}

@keyframes floatAnimation {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(20px);
    }
    100% {
        transform: translateY(0);
    }
}

 #sessao2 {

    width: 100%;
    min-height: 100vh;
    margin-top:150px ;
   padding-bottom: 150px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    
}

 .tituloSessao {
    color: white;
    font-size: 32px;
    text-align: center;
}

section #skil{ 
    
    width: 100%;
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    align-items: center;
    justify-content: space-between;
}

.skil {
    display: flex;
    flex-wrap: wrap;
    width: 90%;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.skils1 h2, .skils2 h2 {
    color: #F7B32B;
}


.skils2, .skils1 {


    gap: 15px;
    flex: 1 1 calc(33.333% - 20px); /* 33% da largura com gap entre eles */
    max-width: 33%;
    height: 350px; /* Altura fixa */
    background-color: #2d1e2f;
    border-radius: 20px;
    padding: 30px;
    margin-top: 20px;
    font-size: 18px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    
}

i { 
    font-size: 50px;
    color: white;
    
}
.paragrafoSoftSkil{
    color: white;
}


#sessao3 {

    width: 100%;
    height: 100vh;
}

#conteudoSobre {

    
    width: 100%;
    display: flex;

}


#conteudoSobre .sobreImg {
    width: 60%;
    height: 400px;
    align-items: center;
    justify-content: center;
}

.img2 {

    border-radius: 50%;
    margin-left: 100px;
    width: 600px;
    align-items: center;
    justify-content: center;
}

#conteudoSobre .sobreTexto {
    padding-top: 50px;
    width: 40%;

}

    #conteudoSobre .paragrafoHero {

    color: white;
    width: 90%;
    line-height: 1.6;
    font-size: 18px;
    }


#sessao4 {
    margin-top: 250px;
    width: 100vw;
    height: 100vh;
}


#rodape {
    
    position:relative ;
    bottom: 0;
    width: 100vw;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    background-color:#2d1e2f ;
    border-top: #F7B32B solid 2px;
    
    
}

.direitos {

    
    width: 100vw;
    background-color: #F7B32B;
    height: 40px;
    color:#2d1e2f;
    font-size:large;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    
}



.bichoPreguica {

    position: absolute;
    bottom:0;
    right: 0;
    margin: -2px;
    padding: 0;
    width: 450px;
}

