* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: verdana;
    
}


body{ 
    background-color: #170f18 ;
    overflow-x: hidden;
}

.efeitoHeroTopo, .efeitoExpertTopo, 
.efeitoSkil1, .efeitoSkil2, .efeitoSkil3,
 .efeitoSkil4, .efeitoSkil5, .efeitoSkil6,
 .efeitoSobreImg, .efeitoSobreText, .efeitoBoxCard, 
 .efeitoBoxCard2, .efeitoBoxCard3, .efeitoBoxContato,
 .efeitoInputNome, .efeitoMenssagem, .efeitoBotaoZap  {
    visibility: hidden;

}

#topo {
    width: 100vw;
    position: absolute;
    display: flex;
    justify-content: space-between;
    padding: 60px 40px;
    z-index: 10;
    
    
}

.img {
    width: 12.5rem;
}


#menu ul {
    
    display: inline-flex;
    align-items: center;
    justify-content: space-around;
    list-style: none;
}
#menu ul li a {

    
    font-weight: 500;
    color: white;
    text-decoration: none;
    margin: 3rem;

}
#menu ul li a:hover {

    border-bottom: #F7B32B solid 3px;
    font-weight: 500;
    color: white;
    text-decoration: none;
    margin: 3rem;
    transition: 0.1s;

}
#contato {
    
    padding: 20px 0px;
    height: 15rem;
    overflow: hidden;
    
}



.botaoContato {
    
    width: 4.37rem;
    height: 2rem;
    text-decoration: none;
    background-color:#f72c25 ;
    color: white;
    padding: 1.2rem 3rem;
    border: none;
    border-radius: 3.12rem;
    font-weight: 600;
    font-size: 0.9rem;
    cursor: pointer;
    transition: .5s;

}

.botaoContato:hover {
    
    width: 4.2rem;
    height: 2rem;
    text-decoration: none;
    background-color:#F7B32B;
    color: black;
    border-radius: 3.12rem;
    font-weight: 600;
    font-size: 0.9rem;
    cursor: pointer;
}




#conteinerPricipal {
    display: flex;
    align-items: center;
    justify-content: center;

}
#sessao-home {

    display: flex;
    padding-top: 12.5rem;
    width: 100%;
    height: 100vh;
    align-items: center;
    justify-content: space-evenly;
    background-image: url(../img/bg-hero-compressed.jpg) ;
    background-repeat: no-repeat;
    background-position: top;
    background-position: center;
    background-size:cover;

    
    
}

#sessao1Extra {
    background-image: url(../img/bg-hero_2section-compressed.jpg);
    background-repeat: no-repeat;
    background-position: top;
    background-position: center;
    background-size:cover;
    display: flex;
    padding-top: 6.25rem;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
}
#sessao1Extra h1 {
    color: white;
    font-size: 3.75rem;
    text-align: center;
    
}

#hero {
    
    padding-top: 7.5rem;
    width: 50%;
    height: 31.25rem;
    padding-left: 5%;
    
}


#hero .titulo {
    padding-bottom: 3.12rem;
    color: #FCF6B1;
    font-size: 3rem;
}

span {
    color: #F7B32B;
}

.paragrafoHero {
    color: white;
    width: 90%;
    line-height: 1.6;
    font-size: 1.1rem;
    margin-bottom: 3rem;
}

.cta {
    
    width: 15rem;
    height: 4rem;
    margin-top: 4rem;
    background-color:#f72c25 ;
    color: white;
    border: none;
    text-decoration: none;
    border-radius: 1.2rem;
    font-weight: 500;
    font-size: 1.2rem; 
    transition: 0.3s;
}

.cta:hover {
    
    margin-top: 4rem;
    background-color:transparent;
    color: #f72c25;
    width: 15rem;
    height: 4rem;
    border-radius: 1.2rem;
    border: #f72c25 solid 3px;
    font-weight: 500;
    font-size: 1.2rem; 
    cursor: pointer;
}

.cta2 {
    
    width: 15rem;
    height: 4rem;
    margin-top: 1.2rem;
    background-color:#f72c25 ;
    color: white;
    text-decoration: none;
    border-radius: 3.12rem;
    font-weight: 500;
    font-size: 1.2rem; 
    transition: 0.3s;
    padding: 10px 25px;
}

.cta2:hover {
    
    margin-top: 4rem;
    background-color:transparent;
    color: #f72c25;
    width: 15rem;
    height: 4rem;
    border-radius: 3,12rem;
    border: #f72c25 solid 3px;
    font-weight: 500;
    font-size: 1.2rem; 
    cursor: pointer;
}




#photoExpert {
    width: 50%;
    height:100vh ;
    padding-right: 100px;
    
}

#photoExpert .img { 
    width: 32rem;
    border-radius: 50%;
    padding-top: 4rem;
    animation: floatAnimation 4s ease-in-out infinite;
    
}

.img {
    visibility: hidden;
}


/* ANIMAÇÃO DA FOTO DO EXPERT */


@keyframes floatAnimation {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(20px);
    }
    100% {
        transform: translateY(0);
    }
}

 #sessao-skils {

    width: 100%;
    min-height: 100vh;
    margin-top:150px ;
   padding-bottom: 150px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    
}

 .tituloSessao {
    color: white;
    font-size: 32px;
    text-align: center;
}

section #skil{ 
    
    width: 100%;
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    align-items: center;
    justify-content: space-between;
}

.skil {
    display: flex;
    flex-wrap: wrap;
    width: 90%;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.skils1 h2, .skils2 h2 {
    color: #F7B32B;
}


.skils2, .skils1 {


    gap: 15px;
    flex: 1 1 calc(33.333% - 20px); /* 33% da largura com gap entre eles */
    max-width: 33%;
    height: 350px; /* Altura fixa */
    background-color: #2d1e2f;
    border-radius: 20px;
    padding: 30px;
    margin-top: 20px;
    font-size: 18px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    
}

i { 
    font-size: 50px;
    color: white;
    
}
.paragrafoSoftSkil{
    color: white;
}


#sessao-sobre {

    width: 100%;
    height: 100vh;
    background-image: url(../img/bg-hero-compressed2.jpg);
    background-position: top center ;
    background-size: cover;
}

#conteudoSobre {

    
    width: 100%;
    height: 100vh;
    display: flex;

}


#conteudoSobre .sobreImg {
    width: 60%;
    height: 400px;
    align-items: center;
    justify-content: center;
}

.img2 {

    border-radius: 50%;
    margin-left: 100px;
    width: 600px;
    align-items: center;
    justify-content: center;
}

#conteudoSobre .sobreTexto {
    padding-top: 50px;
    width: 40%;
    

}

    #conteudoSobre .paragrafoHero {

    color: white;
    width: 100%;
    line-height: 1.6;
    font-size: 18px;
    }


#sessao-portfolio {
    margin-top: 150px;
    margin-bottom: 150px;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  
    
    }


#boxportfolio {
    
    margin-top: 100px;
    gap: 40px;
    display: flex;
    flex-wrap: wrap;

    

    /* display: grid;
    grid-template-columns: repeat(3, 1fr); */
    

}

.boxCard { 
    background-color:#2d1e2f;
    border-radius: 1.5rem;
    padding: 1rem;
    background-size: cover;
    width: 350px;
}

.boxCard:hover { 
    background-color:#2d1e2f;
    border-radius: 1.5rem;
    padding: 1rem;
    background-size: cover;
    transform: scale(1.02);
    transition: 0.5s;
    box-shadow:3px 1px 9px 1px rgba(69,1,69,0.62); } 

.boxTexto {
    background-color:#F7B32B;
    width: 100%;
    padding: 0.6rem;
    border-radius: 0 0 1rem 1rem;
    color: #2d1e2f;
    padding-bottom: 1.4rem;
}

.boxTexto h3 {
    font-size: 1rem;
    padding-bottom: 0.9rem;
    
    
}

.boxTexto p {

    font-size: 0.9rem;
    padding-bottom: 0.7rem;
    width: 100%;
}

.boxTexto a {

    font-weight: 500;
    background-color: #2d1e2f;
    color: white;
    border-radius: 0.5rem;  
    padding: 10px;
    text-decoration: none;
    font-size: 0.9rem;
    padding-bottom: 0.4rem;
    margin-left: 10rem;
    
}

.boxTexto a:hover {

    font-weight: 500;
    background-color:#f72c25;
    color: white;
    border-radius: 0.5rem;  
    padding: 10px;
    text-decoration: none;
    font-size: 0.9rem;
    padding-bottom: 0.4rem;
    margin-left: 10rem;
}



.boxImg1 { 
    background-image: url(../img/ursulaadv.jpg);
    background-size: cover;
    background-position: center center;
    width: 100%;
    height: 200px;
    border-radius: 1rem 1rem 0 0;

}

.boxImg2 { 
    background-image: url(../img/pagina\ de\ login\ interativo.png);
    background-size: cover;
    background-position: center center;
    width: 100%;
    height: 200px;
    border-radius: 1rem 1rem 0 0;

}
.boxImg3 { 
    background-image: url(../img/calcscript.jpeg);
    background-size: cover;
    background-position: center center;
    width: 100%;
    height: 200px;
    border-radius: 1rem 1rem 0 0;

}

.imgBox {
    width: 300px;
    height: auto;
    background-size: cover;
}

#sessao-contato {
    width: 100%;
    height: 100vh;
    background-image: url(../img/bg-hero-compressed2.jpg);
    background-position: top center ;
    background-size: cover;
}

.contato {
    margin-top: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    
}

.formulario {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    width: 50%;
    height: 400px;
    background-color: #2d1e2f5d;
    border-radius: 20px;
    padding: 20px;
}

.input {
    background-color: #170f18;
    border: none;
    gap: 20px;
    padding: 1rem;
    margin: 0.8rem;
    width: 500px;
    border-radius: 20px;
    color: white;
    font-size: large;
    outline: none;
}

.input:hover {

    border:#62026e solid 1px;
    box-shadow: 3px 1px 9px 1px rgba(69,1,69,0.62) ;
}





.enviarZap {
    background-color:#F7B32B ;
    color:#170f18;
    width: 100%;
    height: 50px;
    border: none;
    border-radius: 20px;
    font-weight: 600;
    font-size: large;
    cursor: pointer;
    transition: 0.3s;
    margin-top: 2rem;
}

.enviarZap:hover {
    background-color:#ffaa00 ;
    color:#170f18;
    width: 100%;
    height: 50px;
    border: none;
    border-radius: 20px;
    font-weight: 600;
    font-size: large;
    transform: translateY(-5px);
    cursor: pointer;
}





.footer {
    
    position:relative ;
    padding-top: 80px;
    bottom: -0px;
    left: 0;
    width: 100%;
    height: 400px;
    display: flex;
    flex-direction: column;
    background-color:#2d1e2f ;
    border-top: #F7B32B solid 2px;
       
}



#menuRodape {

    display: flex;
    background-color: #F7B32B;
    width: 80%;
    min-height: 200px;
    margin-left: 50px;
    border-radius: 20px;
}

.logoRodape{
    
    margin: 20px;
    width: 40%;
}
.logoRodape p {
    margin-top: 20px;
    font-size: large;
}

.linksRodape {
    gap: 50px;
    padding-left: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 99;  
}

.linksRodape a i {
    color: #170f18;
    
}




.direitos {

    position: absolute;
    bottom:0;
    right: 0;
    width: 100%;
    background-color: #F7B32B;
    height: 40px;
    color:#2d1e2f;
    font-size:large;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    
}

.bichoPreguica {

    position: absolute;
    bottom:0;
    right: 0;
    margin: -2px;
    padding: 0;
    width: 450px;
}



.balaotips {

    visibility: hidden;
    width: 160px;
    background-color: #c0c0c0;
    color:#170f18;
    text-align: center;
    border-radius: 6px;
    padding: 8px;
    position: absolute;
    bottom: 70%;
    left: 72%;
    transform: translateX(-50%);
    opacity: 0;
    transition: 0.3s;
}

.balaoPreguica:hover .balaotips {
    visibility: visible;
    opacity: 1;
}

#link-Cima {
 
    z-index: 99;
    position: fixed;
    bottom: 100px;
    right: -50px;
    background-color: transparent;
    color: white;
    border: none;
    border-radius: 10px;
    width: 130px;
    height: 50px;
    cursor: pointer;
    animation: aparecer 2s ;
}

#link-Cima i {
    font-size: 40px;
    color:#F7B32B ;
}


/* Para telas muito pequenas (como smartphones) */
@media (max-width: 768px) {
    #topo {
        
        padding: 30px 10px;
        display: flex;  
        justify-content: space-between;
    
    }

    .img {
        padding-left: 20px;
        width: 12rem;
    }

    #menu ul {
        display: none;
    }

    .botaoContato {
        display: none;
    }

    #sessao-home {
        width: 100%;
        margin-top: 170px;
        padding-top: 8rem;
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
    }

    #hero {
        width: 90%;
        
        padding-top: 5rem;
    }

    #photoExpert { 
        width: 80%;
        height: 100vh;
        padding-right: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0 auto;
    }


    #photoExpert .img {
        width: 26rem;
        
    }
    .img {
        visibility: visible;
    }

    #sessao1Extra {
        padding-top: 35rem;
    }

    #sessao1Extra h1 {
        font-size: 1.5rem;
    }

    #sessao-skils {
        margin-top: 130px;
        padding-bottom: 30px;
    }

    .skils1, .skils2 {
        flex: 1 1 100%;
        max-width: 100%;
    }

    section #sessao-sobre {
        
        position: relative;
        width: 100%;
        height: 100vh;
        margin-top: 150px;
        
          
    }

    #conteudoSobre {
        
        position: absolute;
        width: 100%;
        height: auto;
        display:flex ;
        flex-wrap: wrap;
        flex-direction: column;
        padding-left: 20px;
        padding-right: 20px;
        
       
    }

    .img2 {
        padding-top: 30px;
        width:380px;
        height: auto;
        align-items: center;
        justify-content: center;
        margin-left: 0;
        
    }

    #conteudoSobre .sobreTexto {
        width: 100%; 
        height: auto;
        padding-top: 50px;

    
         
    }

    .paragrafoHero{
        width: 100%;
    }

    #sessao-portfolio {
        margin-top: 630px;
        width: 100%;
        height: auto;
    }
   

    #boxportfolio {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        align-items: center;
        
    }

    .boxCard {
        width: 80%;
    }

    #sessao-contato {
        width: 100%;
        height: auto;
        padding-bottom: 100px;
    }

    .formulario {
        width: 90%;
        
    }

    .input {
        width: 100%;
    }

    .enviarZap {
        width: 100%;
    }


    
    #rodape {
        position: relative;
        width: 100%;
        height: 430px;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 30px;   
    }

    #menuRodape {
        width: 90%;
        height: 330px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
       margin-left: 0;
              
    }
    
    .logoRodape {
        width: 90%;
    }

    .linksRodape {
        width: 100%;
        margin-left: -100px;
    }
    .linksRodape i {
        font-size: 30px;
     }

    .bichoPreguica {
        visibility: hidden;
    }

    #link-Cima i {
        color:#ffffff;
    }

    .direitos p {
        font-size: 15px;
    }
}